@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-clr: #383838;
    --sec-bg: #282828;
    --txt-clr: #efefef;
    --acc-clr: #01349b;
    --acc-clr-light: #4a7bc6;
    --f-inter: 'Inter', sans-serif;
}

* {
    background-color: var(--bg-clr);
    color: var(--txt-clr);
    font-family: var(--f-inter);
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; 
    padding: 1rem;
    border-bottom: 4px solid var(--acc-clr);
    background-color: var(--sec-bg);
}

header h1, header p {
    background-color: transparent;
}

main {
    padding: 4rem;
    padding-top: 1rem;
}

main iframe {
    margin: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top: 4px solid var(--acc-clr);
    background-color: var(--sec-bg);
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    background-color: transparent;
}

.typewriter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.typewriter p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
}

.typewriter p span.typed-text {
    font-weight: normal;
    background-color: transparent;
}

.typewriter p span.cursor {
    display: inline-block;
    background-color: transparent;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.typewriter p span.cursor.typing {
    animation: none;
    background-color: transparent;
}

.cursor {
    display: inline-block;
    background-color: transparent;
}

.typed-text {
    padding: 4px;
    border-radius: 10px;
    color: var(--acc-clr-light);
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}